<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div class="container-fluid">
    <div ng-app="myStudentList" ng-cloak ng-controller="myCtrl">
      <header>
        <div class="row row-borders">
          <h3>My Student List</h3>
        </div>
        <div class="menu-icon-container" onclick="clickMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </header>
      <ul class="ul row-borders">
        <li ng-repeat="x in students" class="student-name">{{x}}<span ng-click="removeItem($index)" class="delete-student">&times;</span></li>
      </ul>
      <div class="row row-borders">
        <div class="col-sm-12 text-center row-borders">
          <input placeholder="Write new student names here" ng-model="addMe">
        </div>
        <div class="col-sm-12 row-borders text-center">
          <button ng-click="addItem()" class="btn">Add</button>
        </div>
      </div>
      <p class="error-text">{{errortext}}</p>
    </div>
  </div>
  <script type="text/javascript" src="navbar.js"></script>
</body>

</html>
