<!DOCTYPE html>
<html>
  <head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/functions.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>

    <div ng-app="myStudentList" ng-cloak ng-controller="myCtrl" class="" style="">
      <header class="nav-bar">
        <h3>My Student List</h3>
        <div class="menu-icon-container" onclick="clickMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
      </header>
      <ul class="dropdown menu">
        <a href="#"><li><span>Create Groups</span></li></a>
        <a href="#"><li><span>Shuffle This List</span></li></a>
        <a href="#"><li><span>Track Participation</span></li></a>
        <a href="#"><li><span>Alphabetize This List</span></li></a>
        <a href="#"><li><span>Delete This List</span></li></a>
        <a href="#"><li><span>More Options</span></li></a>
      </ul>
      <ul class="student-name">
        <li ng-repeat="x in students" class="student-name">{{x}}<span ng-click="removeItem($index)" class="delete-student">&times;</span></li>
      </ul>
      <div class="">
        <div class="input-bar row">
          <div class="col">
            <input placeholder="Write new student names here" ng-model="addMe" class="">
          </div>
          <div class="col">
            <button ng-click="addItem()" class="btn">Add</button>
          </div>
        </div>
        <p class="error-text">{{errortext}}</p>
      </div>
    </div>

  </body>
</html>
