html{
	background: powderblue;
}
body{
	font-size: 1.5em;
}
input, button{
	font-size: 1em;
    margin: 1em 0 0 0;
    padding: 0.5em;
}
h3{
	background-color: powderblue;
	padding: 1em;
	margin: 0;
}
.nav-bar h3 {
	margin: 0;
}
ul.student-name, ul.course-name{
	background-color: #DCDCDC;
	margin: 0;
	-webkit-padding-start: 1em;
	padding: 2em 1em 1em 1em;
	border-top: 2px solid cadetblue;
}
ul.dropdown.menu{
	display: none;
	position: absolute;
	background: powderblue;
	right: 0;
	-webkit-padding-start: 0;
	width: 100%;
	border-top: 2px solid cadetblue;
	border-bottom: 2px solid cadetblue;
	-webkit-box-shadow: 1px 2px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 2px 20px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 20px rgba(0, 0, 0, .5);
}
ul.dropdown.menu li{
	list-style: none;
	padding: 1em;
    background-color: white;
    margin: 1em;
}
ul.dropdown.menu li:hover {
    background: #F5F5F5;
}
ul.dropdown.menu a li{
	color: black;
}
li.student-name{
	list-style: none;
	padding: 1em;
	background-color: white;
	margin: 0 0 1em 0;
}
li.course-name{
	list-style: none;
	padding: 1em;
	background-color: white;
	margin:0;
 }
 li.number-students{
 	list-style: none;
    padding: 0 1em 1em 1em;
    background-color: white;
    margin: 0 0 1em 0;
 }
.input-bar{
	padding: 1em;
	text-align:center;
	background: powderblue;
	border-top: 2px solid cadetblue;
}
.input-bar .col{
	padding-top: 1em;
	padding-bottom: 1em;
}
button{
	padding: 1em 2em;
	margin: 1em;
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.open-button{
	background-color: #94f9e9;
}
.delete-student{
	float: right;
	color: black;
	text-transform:capitalize;
}

.menu-icon-container {
    display: inline-block;
    cursor: pointer;
    float: right;
    position: absolute;
    right: 32px;
    top: 18px;
}

.menu-icon-container .bar1, .menu-icon-container .bar2, .menu-icon-container .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.menu-icon-container.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.menu-icon-container.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.menu-icon-container.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

/* Shadow effect */
.student-name {
-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

/*============ Mobile Queries First ============*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
	
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	
}
